*{
    margin:0;
    padding:0;

    box-sizing:border-box;
}

.html{
    font-size: 62.5%;
}
body{
    background-color: rgb(3,0,31);
    color:white;
}
   
.app{
    min-width:100vw;
    min-height:100vh;

    display:flex;
}

.sidebar{
  
   flex:3;
    border-right:1px solid rgba(221, 210, 210, 0.89)
}
.main{
    flex:9;
    padding:2rem 2rem;

    min-height:calc(100vh-14rem);
    display:flex;
    flex-direction:column;
    align-items: center;

}
    .logo{
        margin-right: 1rem;
    }

    .upper-side{
        padding:2rem;
        padding-bottom:12rem;
        border-bottom: 1px solid rgba(221, 210, 210, 0.89);
    }

    .uppersidetop{
        display:flex;
        align-items: center;
        font-size: 1.5rem;
        
        margin-bottom:10px;
    }




    .lower-side{
        padding:2rem;
        display:flex;
        flex-direction: column;
        gap:15px
;    }

.listItems{
    display:flex;
    align-items: center;
    gap:8px
}

.midBtn{
    background-color: #00aaff;
    border:none;
    color:white;
    padding:1.5rem;
    font-size: 1rem;
    height:10px;
    display:flex;
    align-items: center;
    justify-content:center;
    width:12rem;
    gap:1rem;
    margin-bottom: 1.5rem;
    border-radius:0.2rem;
    margin:0 auto
   

}

.query{
    display:flex;
    align-items: center;
    padding:0.8rem;
    width:12rem;
    background: transparent;
    color:white;
    border-radius: 0.2rem;
    border:1px solid  rgba(98,98,98,1);
    gap:0.4rem;
    margin-top:1.3rem;
    


}

.addBtn{
    height:1rem;

}
.footer{
    margin-top: auto;
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
 

}
.inp{
    width:100%;
    padding:0.5rem;
    background: rgba(28,30,58,1);
       margin-bottom: 0.5rem;
}
.inp>input{
    width:calc(100% - 2.5rem);
    padding:0.5rem;
    background: transparent;
    outline:none;
    border:none;
    color:white

}
.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width:100%;
    max-width:70rem;
    height:calc(100vh-10rem);

}
.chat{
    margin:2rem;
    padding:1rem 2rem;
    font-size:1.2rem;
    display:flex;
    align-items: flex-start;
    text-align:justify
    /* justify-content:flex-end; */

}

.img{
    object-fit: cover;
    width:2rem;
    margin-right:1rem;
    border-radius: 0.2rem;

}

.bot{
    background: rgba(28,30,58,1);
    color:white;
    border-radius: 0.3rem;

}